
input {

padding-right:150px;
padding-left:
}

#Hello {
  background-image: url(wp1877211.jpg);
  height:  750px;
}
div{
  color: white;
}

input{
  background-color: black;
  color: white

}

ol{
  padding-right: 555px;
  padding-top: 200px;
}

span {
padding-top: 200px;
}

button{
  width:19px;
  height: 20px;

}

#myBtn{
  font-size: 10px;
}

#myBtnn{
  width: 50px;
  font-size: 10px;
}

#h1 {
  padding-left: 380px;
  font-size: 20px;
}
